  <link rel="stylesheet" href="css/ribbitStyle.css">
  <link rel="stylesheet" href="css/chatStyle.css">
  <div id="mainWrapper">
      <div id="topHeader">
        <img src="img/logo.png" alt="ribbit logo">
        <div class="verticalBox">
          <div class="headerText ribbitText">ribbit</div>
          <div class="headerText quoteText">the simple socket.io chat</div>
        </div>
      </div>
      <div id="nickNameWrapper">
        <h1>welcome to ribbit</h1>
        <h3>enter your nickname</h3>
        <form id="nicknameForm" action="">
          <input id="nickName" autocomplete="off" class="formInput"/><button class="formButton">OK</button>
        </form>
        <div class="inputError" id="takenNickname">nickname taken, please choose another</div>
        <div class="inputError" id="longNickname">nickname too long, please choose another</div>
      </div>
      <div id="avatarWrapper">
        <h3>choose your avatar</h3>
        <div id="avatarSelector"></div>
      </div>
      <div id="chatWrapper">
        <div id="chatBox">
          <div id="chatUsers"></div>
          <ul id="chatMessages"></ul>
        </div>
        <form id="messageForm" action="">
          <input id="messageBox" autocomplete="off" class="formInput"/><button class="formButton">Say</button>
        </form>
      </div>
    </div>
    
    <script src="script/ribbit.js"></script>